
body {
  margin: 0;
  padding: 0;
  direction: rtl;
  /* overflow: hidden; */
  font-family: Yekan Bakh;
  background-color: #ABDDF0;
}


::-webkit-scrollbar {
  width: 10px;               
}

::-webkit-scrollbar-track {
  background: #5A94FF;        
}

::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: #377DFF;    
  border-radius: 20px;

}